#title {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 80px;
	color: rgb(64,64,64);
	background-color: rgba(192,192,192,0.3);
	height: 180px;
	width: 100%;
	text-align: center;
	padding: 30px;
	position: absolute;
	z-index: 2;

	
}

#cover-image {
	padding-top: 40px;
	position: relative;
	opacity: 0.5;
	z-index: 1;
}